<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats,<%= @hacker.first_name %>!</h1>
    <p>Come find us to claim your prize!</p>
  </body>
</html>
